@{
    ViewData["Title"] = "Home Page";
}

     <section class="text-center section-background">
                <div class="section-content">
                    <h3>RUN GROUP</h3>
                    <hr />
                    <h1>WHAT WE DO IN LIFE ECHOES IN ETERNITY</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.</p>
                    <a asp-controller="Club" asp-action="Index" class="btn my-2 pt-2 pb-2" style="background-color: #CEF400; margin-right:15px;">Find Clubs</a>
                    <a asp-controller="Race" asp-action="Index" class="btn btn-secondary my-2 pt-2 pb-2">Find Races</a>
                </div>
    </section>

   